* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: "Poppins", sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
   
  }
  
  .container {
    max-width: 50%;
    justify-content: center;
    margin: auto;
  }
  
  /* Navbar,header Styles */
  
  
   .logo{
   position: absolute;
   width: 100px;
   right: 10px;
   z-index: 999;
   bottom: 91%;
  }
   .logo > img{
     width: 100px;
     top: 0;
   } 
  
  .navbar {
    width: 100%;
    box-shadow: 0 2px 4px rgba(36, 36, 36, 0.15);
    margin-bottom: 50px;
    background-color: #232936;
  }
  
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80px; 
    padding: 0;
  }
  
  .navbar .menu-items {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    background-color: #ffffff;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 10;
  }
  
  .navbar .nav-container li {
    list-style: none;
  }
  
  .navbar .nav-container a {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.7rem;
    display: block;
    text-align: center;
  }
  
  .navbar .nav-container a:hover {
    font-weight: bolder;
    background-color: #ffffff;
  }
  
  .nav-container {
    display: block;
    position: relative;
    height: 60px;
  }
  
  .nav-container .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 34%;
    left: -37%;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }
  
  .nav-container .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 37%;
    left: -37%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  
  .nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #ffffff;
  }
  
  .nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
  }
  
  .nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
  }
  
  .nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
  }
  
  .titulo {
    position: absolute;
    top: 9%;
    right: 33%;
    font-size: 200%;
    color: #ffffff;
    background-color: #232936;
  }
  
  .navbar .menu-items {
    padding-top: 12%;
    box-shadow: inset 0 0 2000px rgba(190, 189, 189, 0);
    justify-content: center;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    transition: transform 0.9s ease-in-out;
    text-align: center;
    height: 100vh;
    width: 100%;
  }
  
  .navbar .menu-items li {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
  }
  
  .nav-container input[type="checkbox"]:checked~.menu-items {
    transform: translateX(0);
  }
  
  .nav-container input[type="checkbox"]:checked~.hamburger-lines .line1 {
    transform: rotate(45deg);
  }
  
  .nav-container input[type="checkbox"]:checked~.hamburger-lines .line2 {
    transform: scaleY(0);
  }
  
  .nav-container input[type="checkbox"]:checked~.hamburger-lines .line3 {
    transform: rotate(-45deg);
  }
  
  .nav-container input[type="checkbox"]:checked~.logo {
    display: none;
  }
  /*main style*/
  .gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
    margin: 0 40px;
  }
  
  .gallery-item {
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
  }
  
  .gallery-item img {
    width: 100%;
    height: 80%;
    transition: transform 0.3s ease;
  }
  
  .gallery-item p {
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #232936;
    color: #fff;
    padding: 10px;
    margin: 0;
    opacity: 0;
    transition: opacity 0.3s ease;
  }
  
  .gallery-item img:focus {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1.5); /* Ajusta el factor de escala según tus preferencias */
    width: 90vw;
    height: auto;
    z-index: 1000;
    outline: none; /* Quita el borde predeterminado al recibir el foco */
  }
  
  .gallery-item:hover img {
    transform: scale(1.1);
  }
  
  .gallery-item:hover p {
    opacity: 1;
  }
  /* Cambiamos el estilo de la imagen expandida usando el selector :target */
  .gallery-item:target img {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90vw;
    height: auto;
    z-index: 1000;
  }
    /* Footer Styles */
    footer {
      background-color: #232936;
      padding: 30px 0;
      text-align: center;
      justify-content: center;
      display: block;
      margin-top: 150px;
  }
  
  footer .container {
      display: inline-flex;
      justify-content: center;
      align-items: center;
  }
  
  footer img {
      height: 50px;
      margin: 0 20px;
  }
  
  #imagenconsejeria,
  #youtubelogo {
      height: 80px;
  }
  
  footer img.social-icon,
  #youtubelogo {
      transition: transform 0.3s ease-in-out;
  }
  
  footer img.social-icon:hover,
  #youtubelogo:hover {
      transform: scale(1.2);
  }
  
  footer p {
      margin-top: 10px;
      color: #fff;
      font-size: 14px;
  }
  