* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    /* Asegura que no haya márgenes */
    overflow-x: hidden;
    /* Evita el desplazamiento horizontal */
}

.container {
    max-width: 50%;
    justify-content: center;
    margin: auto;
}


.navbar {
    width: 100%;
    box-shadow: 0 2px 4px rgba(36, 36, 36, 0.15);
    position: relative;
    
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 80%;
    padding:0;
         

}

.navbar .menu-items {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    background-color: #ffffff;
    transform: translateY(-100%);
    transition: transform 0.3s ease-in-out;
    z-index: 10;
    
}

.navbar .nav-container li {
    list-style: none;
}

.navbar .nav-container a {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.7rem;
    display: block;
    text-align: center;
}

.navbar .nav-container a:hover {
    font-weight: bolder;
    background-color: #ffffff;
}

.nav-container {
    display: block;
    position: relative;
    height: 60px;
}

.nav-container .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20%;
    left: -37%;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
}

.nav-container .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 20%;
    left: -37%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: #000000;
}

.nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
}

.nav-container .hamburger-lines .line2 {
    transition: transform 0.2s ease-in-out;
}

.nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
}

.logo {
    position: absolute;
    top: 10%;
    right: 20%;
    font-size: 200%;
    color: #000000;
}

.navbar .menu-items {
    padding-top: 12%;
    box-shadow: inset 0 0 2000px rgba(190, 189, 189, 0.384);
    justify-content: center;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    transition: transform 0.9s ease-in-out;
    text-align: center;
    height:100vh;
    width: 100%;
    
}

.navbar .menu-items li {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
}

.nav-container input[type="checkbox"]:checked~.menu-items {
    transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked~.hamburger-lines .line1 {
    transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked~.hamburger-lines .line2 {
    transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked~.hamburger-lines .line3 {
    transform: rotate(-45deg);
}

.nav-container input[type="checkbox"]:checked~.logo {
    display: none;
}
  /*carousel*/ 
  h1 {
    text-align: center;
}

#carrusel-contenido {
    width: 100%;
    overflow: hidden;
    text-align: center;
}

#carrusel-caja {
    display: flex; /* Usar flexbox para alinear los elementos */
    width: 600%; /* Seis imágenes, por lo que el contenedor debe ser seis veces más ancho */
    overflow: hidden; /* Ocultar el desbordamiento */
    animation: automatizacion 50s infinite linear; /* Animación del carrusel */
    transition: transform 5s ease; /* Transición suave para el desplazamiento */
}

.carrusel-elemento {
    flex: 0 0 16.66666%; /* Cada elemento ocupa el 16.666% del ancho */
}

.imagen {
    width: 110%; /* La imagen ocupa todo el ancho del contenedor */
    height: 30%; /* Altura automática para mantener la relación de aspecto */
    object-fit: cover; /* Ajustar la imagen para cubrir todo el contenedor */
}

@keyframes automatizacion {
    0% {
        transform: translateX(0); /* Sin desplazamiento al principio */
    }
    100% {
        transform: translateX(-84%); /* Desplazar hacia la izquierda */
    }
}

  /* Footer Styles */
  footer {
    background-color: #e4e4e470;
    padding: 1% 0;
    text-align: center;
    margin-top: auto;
   
  }
  
  footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  footer img {
    height: 40px;
  }
  
  footer img.social-icon {
    height: 40px;
    transition: transform 0.3s ease-in-out;
  }
  
  footer img.social-icon:hover {
    transform: scale(1.1); 
  }
  